[Unit]
Description=AICHO central controller
Wants=sound.target
After=sound.target

[Service]
Type=simple
ExecStart=/home/ayu/aicho/central_fw/main
WorkingDirectory=/home/ayu/aicho/central_fw
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
